{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Index{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="text" name="search_txt" placeholder="Search...">
    <button type="submit">Go!</button>
  </form>
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr">
    {% for product in products %}
      <div style="width: calc(100vw/4); padding: 10px">
        {% if product['media'] is not none %}
        <div>
          <img style="max-width: 100%; max-height: 25vh," src="/static/media/{{ product['media'][0] }}">
        </div>
        {% endif %}
        <a href="/details/{{ product['id'] }}">{{ product['name'] }}</a>
        <span>{{ product['price'] }} kr</span>
        <br>
        <p>{{ product['category'] }}</p>
        <br>
        <form action="/add_to_cart/" method="post">
          <input type="hidden" name="id" value="{{ product['id'] }}">
          <input type="hidden" name="price" value="{{ product['price'] }}">
          <input type="number" name="qty" value="1" min="1" required>
          <button type="submit">Buy!</button>
        </form> 
      </div>
    {% endfor %}
  </div>
{% endblock %}
